@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 9%;
    --primary: 0 0% 9%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 0 0% 9%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 0 0% 45%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 0 0% 90%;
    --input: 220 13% 91%;
    --ring: 0 0% 9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  /* Base Typography Styles */
  h1 {
    @apply h1;
  }

  h2 {
    @apply h2;
  }

  h3 {
    @apply h3;
  }

  h4 {
    @apply h4;
  }

  h5 {
    @apply h5;
  }

  h6 {
    @apply h6;
  }

  a {
    @apply anchor;
  }

  p {
    @apply para;
  }

  span {
    @apply span;
  }

  h1 span,
  h2 span,
  h3 span,
  h4 span,
  h5 span,
  h6 span {
    @apply text-brand-secondary;
  }

  .intro-content h1+p,
  .intro-content h2+p,
  .intro-content h3+p,
  .intro-content h4+p,
  .intro-content h5+p,
  .intro-content h6+p {
    @apply mt-5 lg:mt-8;
  }

  .intro-content .eyebrow-heading {
    @apply mb-5;
  }
}
